/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: robot;
    src: url(../fonts/PressStart2P-Regular.ttf);
}

body {
    font-family:robot;
    font-weight:500;
}

.h1, h1 {
    font-size:25px;
}

header {
    padding-top:20px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.passwordList {
    display:none;
}

.passwordUl {
    list-style:none;
    padding-left:0;
}

.passwordUl li {
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

body {
    color: #666;
}

.loginBox label, .addPasswordBox label {
    display: block;
}

.loginBox input, .addPasswordBox input {
    display: block;
    width: 100%;
}

.addPasswordBox {
    margin-bottom:50px;
}

header {
    border-bottom: 2px solid;
    margin-bottom: 50px;
}

.newUserBox {
    display:none;
}

.userInfo {
    padding: 20px;
    background: #e6e6e6;
    margin-bottom: 20px;
    box-shadow: 2px 3px 4px darkgrey;
}

.passwordName {
    font-size: 20px;
    font-weight: bold;
}

.passwordValue {
    position:relative;
}

.passwordValue::before {
    content: "***************";
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}

.passwordUl li:hover .passwordValue::before {
    display:none;
}

button {
    border: 2px solid gray;
    border-radius: 32px;
    padding: 5px 30px;
    background: none;
    transition:300ms all;
    outline:none;
    margin-right:20px;
}

button:focus {
    outline:none;
}

button:hover {
    background:gray;
    color:white;
}

.newUserBox {
    margin-top:50px;
}